{% extends "base.html.twig" %}

{% block title %}
    Figure 1
{% endblock %}

{% block body %}
<!-- Page Content-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="bg-image py-5 position-relative" style="background-image: url({{ asset('image/snowtricks.jpg') }}); background-size: cover; height: 500px;">
                    <!-- Modify and Delete buttons -->
                    <div class="buttons position-absolute top-0 end-0 mt-3 me-3">
                        <a class="btn btn-light" href="#" role="button"><i class="bi bi-pencil-fill"></i></a>
                        <a class="btn btn-light ms-2" href="#" role="button"><i class="bi bi-trash-fill"></i></a>
                    </div>
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <div class="text-center">
                            <h1 class="display-5 fw-bolder text-white mb-2">{{ trick.name }}</h1>
                        </div>
                    </div>
                </header>
                <!-- Post media-->
                <section class="mt-5">
                    <div class="row row-cols-1 row-cols-md-4">
                        <div class="col mb-4">
                            <div class="card h-100">
                                <img src="https://dummyimage.com/600x400/343a40/6c757d" class="card-img-top" alt="...">
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card h-100">
                                <img src="https://dummyimage.com/600x400/343a40/6c757d" class="card-img-top" alt="...">
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card h-100">
                                <img src="https://dummyimage.com/600x400/343a40/6c757d" class="card-img-top" alt="...">
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card h-100">
                                <img src="https://dummyimage.com/600x400/343a40/6c757d" class="card-img-top" alt="...">
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{ trick.description }}</p>
                    <!-- Post categories-->
                    <div class="text-center">
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ trick.username }}</a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ trick.created_at }}</a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ trick.modified_at }}</a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ trick.group_name }}</a>
                    </div>
                </section>
            </article>
            <!-- Comments section-->
            <section>
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        <form class="mb-4 d-flex gap-3">
                            <textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea>
                            <button class="btn btn-dark" type="submit">Envoyez un commentaire</button>
                        </form>
                        <!-- Comment with nested comments-->
                        <div class="d-flex mb-4">
                            <!-- Parent comment-->
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="ms-3">
                                <div class="fw-bold">Commenter Name</div>
                                If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
                                <!-- Child comment 1-->
                                <div class="d-flex mt-4">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                                    </div>
                                </div>
                                <!-- Child comment 2-->
                                <div class="d-flex mt-4">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        When you put money directly to a problem, it makes a good headline.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single comment-->
                        <div class="d-flex">
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="ms-3">
                                <div class="fw-bold">Commenter Name</div>
                                When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
{% endblock %}
