{% extends "base.html.twig" %}

{% block title %}
    {{ trick.slug | capitalize }}
{% endblock %}

{% block body %}
<!-- Page Content-->
<div class="row gx-5">
    <!-- Post content-->
    <article>
        <!-- Post header-->
        {% if trick.getImages() is not empty%}
            <header class="bg-image py-5 position-relative" style="background-image: url({{ asset('uploads/image/' ~ trick.getImages()[0].image) }}); background-size: cover; height: 500px;">
        {% else %}
            <header class="bg-image py-5 position-relative" style="background-image: url({{ asset('image/snowtricks.jpg') }}); background-size: cover; height: 500px;">
        {% endif %}
            <!-- Modify and Delete buttons -->
            <div class="buttons position-absolute top-0 end-0 mt-3 me-3">
                <a class="btn btn-light" href="{{ path('modify_trick', { slug: trick.slug }) }}" role="button"><i class="bi bi-pencil-fill"></i></a>
                <a class="btn btn-light ms-2" href="#" role="button"><i class="bi bi-trash-fill"></i></a>
            </div>
            <div class="d-flex align-items-center justify-content-center h-100">
                <div class="text-center">
                    <h1 class="display-5 fw-bolder text-dark bg-light p-3">{{ trick.name }}</h1>
                </div>
            </div>
        </header>
        <!-- Post media-->
        <section class="mt-5">
            <div class="row">
                {# images #}
                {% if images is not empty %}
                    {% for image in images %}
                    <div class="col-md-3 mb-4 media-container">
                        <img src={{ asset('uploads/image/' ~ image.image) }} class="media" alt="...">
                    </div>
                    {% endfor %}
                {% endif %}
                {# videos #}
                {% if videos is not empty %}
                    {% for video in videos %}
                    <div class="col-md-3 mb-4 media-container">
                        <iframe src="{{ video.video }}" class="media" frameborder="0" allowfullscreen></iframe>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </section>
        <!-- Post content-->
        <section class="mb-5">
            <p class="fs-5 mb-4">{{ trick.description }}</p>
            <!-- Post categories-->
            <div class="text-center">
                <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ trick.user.username }}</a>
                <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ trick.getCreatedAt().format('d/m/Y') }}</a>
                <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ trick.getModifiedAt().format('d/m/Y') }}</a>
                <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ trick.group.name }}</a>
            </div>
        </section>
    </article>
    <!-- Comments section -->
    <section>
        <div class="card bg-light">
            <div class="card-body">
                {% if app.user %}
                    <!-- Comment form -->
                    {{ form_start(commentForm) }}
                    <div class="row">
                        <div class="col-md-10">
                            {{ form_row(commentForm.comment) }}
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-dark w-100 h-100" type="submit">Envoyez</button>
                        </div>
                    </div>
                    {{ form_end(commentForm) }}
                {% endif %}

                <!-- comments -->
                {% if comments is not empty %}
                    {% for comment in comments %}
                    <div class="d-flex my-3">
                        {% if comment.user.avatar is not empty %}
                        <div class="flex-shrink-0"><img class="rounded-circle" src="{{ asset('uploads/image/' ~ comment.user.avatar) }}" alt="avatar" /></div>
                        {% else %}
                        <div class="flex-shrink-0"><img class="rounded-circle" src="{{ asset('image/snowboard.png') }}" alt="default_avatar" style="width: 50px; height: 50px;" /></div>
                        {% endif %}
                        <div class="ms-3">
                            <div class="fw-bold">{{ comment.user.username }}</div>
                            <div>{{ comment.comment }}</div>
                            <span class="text-muted"><small>{{ comment.getCreatedAt().format('d/m/Y') }}</small></span>
                        </div>
                    </div>
                    {% endfor %}
                     <div class="d-flex justify-content-center mt-5">
                        {{ knp_pagination_render(comments) }}
                    </div>
                {% elseif not app.user %}
                    <p>Connectez-vous pour ajouter le première commentaire.</p>
                {% endif %}
            </div>
        </div>
    </section>
</div>
{% endblock %}
