{% extends "base.html.twig" %}

{% block title %}
    {{ trick.slug | capitalize }}
{% endblock %}

{% block body %}
<!-- Page Content-->
<div class="row gx-5">
    <!-- Post content-->
    <article>
        <!-- Post header-->
        {% if trick.getImages() is not empty%}
            <header class="bg-image py-5 position-relative" style="background-image: url({{ asset('uploads/image/' ~ trick.getImages()[0].image) }}); background-size: cover; height: 500px;">
        {% else %}
            <header class="bg-image py-5 position-relative" style="background-image: url({{ asset('image/snowtricks.jpg') }}); background-size: cover; height: 500px;">
        {% endif %}
        <div class="d-flex align-items-center justify-content-center h-100">
            <div class="text-center">
                <h1 class="display-5 fw-bolder text-dark bg-light p-3">{{ trick.name }}</h1>
            </div>
        </div>
        </header>
        <!-- Post media-->
        <section class="mt-5">
            <div class="row">
                {# images #}
                {% if images is not empty %}
                    {% for image in images %}
                    <div class="col-md-3 mb-4 media-container">
                        <img src={{ asset('uploads/image/' ~ image.image) }} class="media" alt="...">
                        <!-- Modify and Delete buttons -->
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-light" href="" role="button"><i class="bi bi-pencil-fill"></i></a>
                            <a class="btn btn-light ms-2 delete-image-button" data-image-id="{{ image.id }}" role="button"><i class="bi bi-trash-fill"></i></a>
                            {# <a class="btn btn-light" href="{{ path('modify_image', { image_id: image.id }) }}" role="button"><i class="bi bi-pencil-fill"></i></a> #}
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
                {# videos #}
                {% if videos is not empty %}
                    {% for video in videos %}
                    <div class="col-md-3 mb-4 media-container">
                        <iframe src="{{ video.video }}" class="media" frameborder="0" allowfullscreen></iframe>
                        <!-- Modify and Delete buttons -->
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-light" href="#" role="button"><i class="bi bi-pencil-fill"></i></a>
                            <a class="btn btn-light ms-2 delete-video-button" data-video-id="{{ video.id }}" role="button"><i class="bi bi-trash-fill"></i></a>
                            {# <a class="btn btn-light" href="{{ path('modify_video', { video_id: video.id }) }}" role="button"><i class="bi bi-pencil-fill"></i></a>#}
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </section>
        <!-- Post content-->
        <section>
            <div class="text-center">
                <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ trick.user.username }}</a>
                <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ trick.getCreatedAt().format('d/m/Y') }}</a>
                <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ trick.getModifiedAt().format('d/m/Y') }}</a>
            </div>
            {{ form_start(modifyTrickForm) }}
            <div class="form-group mt-5">
                {{ form_widget(modifyTrickForm.description) }}
            </div>
            <div class="row mt-5">
                <div class="col-md-7 form-group">
                    {{ form_widget(modifyTrickForm.group) }}
                </div>
                <div class="col-md-5">
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-primary me-3" id="submitButton" type="submit">
                            Enregistrer
                        </button>
                        <button class="btn btn-danger" id="deleteButton" type="submit">
                            Supprimer
                        </button>
                    </div>
                </div>
            </div>
            {{ form_end(modifyTrickForm) }}
        </section>
    </article>
</div>
{% endblock %}
